@model DotnetMvcDbFirst.Context.MVCFORM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MVCFORM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RollNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Football)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Football)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kabadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kabadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cricket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cricket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
